* {
    font-family: 'Calibri';
}

h1, p {
    color: rgb(14, 61, 88);
}


h2{
    font-size: 28px;
    color: rgb(14, 61, 88);
}

.h2_color{
    color: rgb(145, 72, 24);
}

body {
    margin: 15px; 
}


pre {
    background-color: rgb(200, 231, 240);
    width: 75%;
    margin: 15px; 
}


button {
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #7bb33b;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px #999;
    color: rgb(14, 61, 88);
}
  
button:hover {background-color: rgb(135, 219, 137)}
  
  
button:active {
    background-color:#a2d865;
    box-shadow: 1px 2px #666;
    transform: translateY(4px);
}

.button_start{
    background-color: #a2d865;
    font-size: 16px;
    width: 400px;
    text-align-last: left;
}

.button_stop{
    background-color: #d86965;
    font-size: 16px;
    width: 400px;
    text-align-last: left;
}

.button_vernier{
    background-color: rgb(230, 198, 176);
    font-size: 20px;
    width: 400px;
    text-align-last: left;
    padding: 15px 25px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px #999;
    color: rgb(145, 72, 24);
}

.button_eduform {
    background-color: rgb(145, 226, 215);
    font-size: 20px;
    width: 400px;
    text-align-last: left;
    padding: 15px 25px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 4px #999;
    color: rgb(14, 61, 88);
}

canvas{
    -user-select: none;
}

.div_canvas_game{
    position: relative;
    left: 15px;
    top: 15px;
    background-color:solid black;
}
.canvas_game{
    border: 1px;
    background-color:solid black;
}

.game_score{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 16px;
    width: 120px;
    text-align-last: left;
    color:rgb(145, 226, 215);
}

.game_score_info {
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: 16px;
    width: 180px;
    text-align-last: left;
    color:rgb(145, 226, 215);
}

.flex_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    align-content: center;
    text-align: center;
    border-radius: 15px;
    width: 320px;
    height: 280px;
    background-color:rgb(200, 231, 240);
}


.config_game_input {

        border: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f2f2f2;
        border-radius: 3px;
        text-align: right;

}

.config_game {
    border-radius: 15px;
    align-content: left;
    text-align: left;
    padding: 10px;
}


